{% extends 'base.html'%}

{% block title %}
    {{ post.title_tag }}
{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<small>By: {{post.author.username}}</small> <br>
<hr>
<br>
{{ post.body | safe }}
<small class="float-right">{{post.post_date}}</small>
<br>
{% if user.is_authenticated and user.id == post.author.id %}
<a href="{% url 'edit-post' post.pk %}" class="btn btn-secondary btn-sm"> Edit </a>
<a href="{% url 'delete-post' post.pk %}" class="btn btn-secondary btn-sm"> Delete </a>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary btn-sm"> Back </a>
{% endblock %}